@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/EPiServer/Shell/8.2.2.0/ClientResources/epi/themes/legacy/ShellCore.css" />
    <link rel="stylesheet" type="text/css" href="/EPiServer/Shell/8.2.2.0/ClientResources/epi/themes/legacy/ShellWidgets.css" />
    <link rel="stylesheet" type="text/css" href="/EPiServer/Shell/8.2.2.0/ClientResources/epi/themes/legacy/ShellCoreLightTheme.css" />
    <link rel="stylesheet" type="text/css" href="/EPiServer/Shell/8.2.2.0/ClientResources/epi/themes/legacy/ShellWidgetsLightTheme.css" />

    <title></title>
</head>
<body>
    <div class="epi-contentContainer epi-padding">
        <h1>Search Admin - Manage Synonyms</h1>
        <br />
        <p>Managed Synonyms is not configured or not available.</p>
        <br />
        <br />
    </div>
</body>
</html>
