
@model  BaseSite.Models.Blocks.CalloutBlock

<div class="col-md-4">
    <h2>@Model.Heading</h2>
    <p>@Model.Summary</p>
    <p><a class="btn btn-default" href="@Model.ButtonUrl" role="button">@Model.ButtonLinkText</a></p>
</div>