<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="SolrClient"
                service="MissionSearch.Clients.ISearchClient`1, MissionSearch"
                type="MissionSearch.Clients.SolrClient`1, MissionSearch"
                lifestyle="singleton">
      <parameters>
        <srchConnectionString>http://localhost:8983/solr/EpiSearchDemo_shard1_replica1</srchConnectionString>
      </parameters>
    </component>


    <component id="LuceneClient"
      service="MissionSearch.Clients.ISearchClient`1, MissionSearch"
      type="MissionSearch.LuceneClient.LuceneClient`1, MissionSearch.LuceneClient"
      lifestyle="singleton">
      <parameters>
        <srchConnectionString>c:\testindex</srchConnectionString>
      </parameters>
    </component>
    
    
    <component id="AutoComplete"
              service="MissionSearch.Suggester.IQuerySuggester, MissionSearch"
              type="MissionSearch.LuceneClient.QuerySuggester, MissionSearch.LuceneClient"
              lifestyle="singleton">
      <parameters>
        <srchConnectionString>c:\autocomplete</srchConnectionString>
      </parameters>
    </component>
    
  
    <component id="Logger"
             service="MissionSearch.Util.ILogger, MissionSearch"
             type="MissionSearch.Util.MissionLogger, MissionSearch"
             lifestyle="singleton">
      <parameters>
        <logPath>/App_Data/MissionSearch.log</logPath>
        <!-- Debug,Info,Error -->
        <logLevel>Debug</logLevel>
      </parameters>
    </component>
   
    
    <component id="ContentIndexer" 
               service="MissionSearch.Indexers.IContentIndexer`1, MissionSearch"
               type="MissionSearch.Indexers.DefaultContentIndexer`1, MissionSearch"
               lifestyle="singleton">
                <parameters>
                  <sourceId>1</sourceId>
                </parameters>
    </component>
 
    <component id="AssetIndexer"
               service="MissionSearch.Indexers.IAssetIndexer`1, MissionSearch"
               type="MissionSearch.Indexers.DefaultAssetIndexer`1, MissionSearch"
               lifestyle="singleton">
      <parameters>
        <threshold>50000000</threshold>
        <sourceId>2</sourceId>
      </parameters>
    </component>


    <!--
    <component id="NutchCrawler"
                  service="MissionSearch.Clients.ICrawler, MissionSearch"
                  type="MissionSearch.Clients.Nutch.NutchClient, MissionSearch"
                  lifestyle="singleton">
      <parameters>
          <srchConnectionString>http://192.168.120.213:8081/</srchConnectionString>
          <urlDir>C:\_installs\nutch110\urls</urlDir>
          <topN>100</topN>
      </parameters>
    </component>
  -->
    
  </components>
</configuration>